.container {
  width: 100%;
  max-width: $contentWidth;
  padding: 0 20px;
  margin: 0 auto;
}

// Button
.btn {
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
  color: $textColor;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 6px;
  transition: 0.1s ease;
  cursor: pointer;
  user-select: none;
}

.btn-primary {
  background-color: $primaryColor;
  color: $whiteColor;
}

.btn-secondary {
  background-color: $buttonColor;
  color: $whiteColor;
}

.btn-link {
  background-color: $linkColor;
  color: $whiteColor;
}

// Preloader
.preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 200% 100%;
  animation: shine 1.25s linear infinite forwards;
}
