.container {
  width: 100%;
  max-width: $contentWidth;
  padding: 0 20px;
  margin: 0 auto;
}

// Button
.btn {
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
  color: $textColor;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 6px;
  transition: 0.1s ease;
  cursor: pointer;
  user-select: none;
}

.btn-primary {
  background-color: $primaryColor;
  color: $whiteColor;
}

.btn-secondary {
  background-color: $buttonColor;
  color: $whiteColor;
}
