.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $headerBackground;
  z-index: 10;

  .container {
    position: relative;
    width: 100%;
    height: $headerHeight;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__hamburger {
    display: none;

    @include breakpoint-max(lg) {
      position: absolute;
      left: 20px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      z-index: 2;

      label {
        position: relative;
        display: inline-flex;
        justify-content: center;
        width: 20px;
        height: 14px;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
      }

      span {
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        width: 20px;
        height: 2px;
        background-color: $iconColor;
        margin: 0 auto;
        opacity: 1;
        visibility: visible;
        transform: rotate(0deg);
        transition: 0.1s ease;

        &:nth-child(1) {
          top: 0;
          width: 16px;
        }

        &:nth-child(2),
        &:nth-child(3) {
          top: 6px;
        }

        &:nth-child(4) {
          bottom: 0;
          width: 16px;
        }
      }
    }
  }

  &__title {
    @include breakpoint-max(lg) {
      padding-left: 40px;
    }

    h1 {
      font-size: 22px;
      font-weight: 500;

      .title {
        color: $titleColor;
      }
    }
  }

  &__menu {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    @include breakpoint-min(lg) {
      > ul {
        display: inline-flex;
        align-items: center;

        > li {
          position: relative;
          display: inline-flex;
          align-items: center;
          height: $headerHeight;
          margin: 0 10px;

          &:hover .header__menu-dropdown {
            max-height: 100vh;
            opacity: 1;
            visibility: visible;
          }

          &:hover {
            .link svg {
              transform: rotate(-180deg);
            }
          }
        }
      }
    }

    &-dropdown {
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      transition: 0.1s ease;

      @include breakpoint-min(lg) {
        position: absolute;
        top: calc($headerHeight - 1px);
        left: -16px;
        right: -16px;
        min-width: 180px;
        background-color: $headerBackground;
        box-shadow: 0 10px 26px -10px rgba(0, 0, 0, 0.15);
        border-radius: 0 0 8px 8px;
        transition: 0.1s ease;
        z-index: 2;

        .link {
          display: block;
          padding: 10px 16px;
        }
      }

      @include breakpoint-max(lg) {
        .link {
          padding-left: 40px !important;
        }
      }
    }

    .link {
      display: flex;
      align-items: center;
      color: $textColor;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      user-select: none;

      svg {
        width: 12px;
        height: 12px;
        stroke-width: 3;
        margin-left: 5px;
        transition: 0.1s ease;
      }
    }

    @include breakpoint-max(lg) {
      position: absolute;
      top: $headerHeight;
      left: 0;
      right: 0;
      width: 100%;
      max-height: 0;
      background-color: $headerBackground;
      border-top: 1px solid $borderColor;
      opacity: 0;
      visibility: hidden;
      transition: 0.1s ease;
      z-index: 20;

      .link {
        justify-content: space-between;
        font-size: 15px;
        font-weight: 400;
        padding: 14px 20px;
        border-radius: 6px;
        background-color: transparent;

        &:hover {
          opacity: 1;
          background-color: #f5f7f9;
        }
      }

      .off-dropdown:checked ~ .link svg {
        transform: rotate(-180deg);
      }

      .off-dropdown:checked ~ .header__menu-dropdown {
        max-height: 100vh;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__action {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline-flex;
      align-items: center;

      li:not(:last-child) {
        margin-right: 10px;
      }
    }

    .btn {
      display: inline-flex;
      align-items: center;

      svg {
        width: 18px;
        height: 18px;
        stroke: $whiteColor;
        stroke-width: 1.8;
        margin-right: 6px;
      }
    }
  }

  .off-menu:checked ~ {
    .header {
      &__hamburger {
        span:nth-child(1) {
          top: 6px;
          opacity: 0;
          visibility: hidden;
        }

        span:nth-child(2) {
          transform: rotate(45deg);
        }

        span:nth-child(3) {
          transform: rotate(-45deg);
        }

        span:nth-child(4) {
          bottom: 6px;
          opacity: 0;
          visibility: hidden;
        }
      }

      &__menu {
        max-height: 100vh;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
