.home {
  &__left,
  &__right {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);

    @include breakpoint-max(md) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &__about {
    position: relative;
    min-height: calc(100vh - $headerHeight);
    padding-top: calc(80px - $headerHeight);
    padding-bottom: 80px;

    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      @include breakpoint-min(md) {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    @include breakpoint-max(md) {
      .home__right {
        order: -1;
        margin-bottom: 40px;
      }
    }

    &-title {
      font-size: clamp(24px, 12vw, 58px);

      .d {
        color: $primaryColor;
      }
    }

    &-desc {
      max-width: 390px;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.6em;
      opacity: 0.95;

      p {
        margin: 15px 0 25px;
      }
    }

    &-action {
      .btn {
        display: inline-flex;
        align-items: center;
        padding: 14px 16px;
        font-size: 15px;
      }
    }

    &-image {
      width: 100%;
      max-width: 500px;
      height: 100%;
      max-height: 500px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      aspect-ratio: 1 / 1;
      overflow: hidden;
    }
  }
}
