.products {
  &__header {
    position: relative;
    padding: 40px 20px;
    margin-bottom: 40px;
    background-color: #161620;
    border-radius: 16px;
    overflow: hidden;

    .title {
      color: $whiteColor;
      margin-bottom: 25px;
    }
  }

  &__category {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 25px 0 20px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;

      > li {
        margin: 0 4px;
        margin-bottom: 8px;
      }
    }

    .link {
      display: block;
      padding: 10px 16px;
      background-color: $whiteColor;
      color: $textColor;
      font-size: 14px;
      font-weight: 500;
      white-space: nowrap;
      border-radius: 4px;
    }
  }

  &__search {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    form {
      position: relative;
      width: 100%;
      max-width: 720px;
    }

    input {
      display: block;
      width: 100%;
      height: auto;
      padding: 16px 68px 16px 14px;
      background: $whiteColor;
      font-size: 15px;
      outline: none;
      border: none;
      border-radius: 6px;

      @include breakpoint-max(sm) {
        padding: 12px 64px 12px 12px;
      }

      &:focus ~ button[type="reset"] {
        opacity: 1;
      }

      &::-webkit-search-cancel-button {
        display: none;
      }
    }

    button {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0;
      background: transparent;
      outline: 0;
      border: 0;
      z-index: 3;

      &[type="reset"] {
        right: 46px;
        font-size: 13px;
        font-weight: 500;
        opacity: 0;
        transition: 0.1s ease;

        @include breakpoint-max(sm) {
          right: 44px;
        }

        &::before {
          content: "\2715";
        }
      }

      &[type="submit"] {
        right: 14px;

        @include breakpoint-max(sm) {
          right: 12px;
        }
      }

      svg {
        width: 20px;
        height: 20px;
        stroke-width: 1.5;
      }
    }
  }

  &__lists {
    position: relative;
    left: -10px;
    right: -10px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 20px);

    > * {
      flex: 0 0 calc(25% - 20px);
      max-width: calc(25% - 20px);
      margin: 0 10px 20px;

      @include breakpoint-max(md) {
        flex: 0 0 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
      }

      @include breakpoint-max(sm) {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
      }
    }
  }

  &__box {
    position: relative;
    padding: 16px;
    background-color: $contentBackground;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: none;
    transition: 0.2s ease;

    &:hover {
      box-shadow: 8px 8px 14px $borderColor;
    }
  }

  &__image {
    .inner {
      position: relative;
      padding-top: 100%;
      height: 0;
      width: 100%;
      overflow: hidden;
      background-color: $borderColor;
      border-radius: 6px;
    }

    .image {
      > * {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: none;
        height: 105%;
        max-height: 105%;
        transform: translate(-50%, -50%);
        transition: filter 0.2s ease;
      }

      &:hover {
        opacity: 1;

        img {
          filter: brightness(90%);
        }
      }
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0;

    @include breakpoint-max(480px) {
      font-size: 15px;
    }

    a {
      color: $titleColor;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    font-size: 17px;
    font-weight: 500;
  }

  &__cart {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: #ebedec;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;

    svg {
      width: 18px;
      height: 18px;
      stroke-width: 1.5;
    }
  }

  &__empty {
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
  }

  &__action {
    width: 100%;
    text-align: center;
    margin-top: 30px;

    .btn {
      padding: 12px 16px;
      font-size: 15px;
    }
  }
}
