.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $headerBackground;
  z-index: 10;
  box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.08);

  .container {
    position: relative;
    display: flex;
    width: 100%;
    height: calc($headerHeight - 8px);
  }

  &__icon {
    display: inline-flex;
    align-items: center;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    > ul {
      display: inline-flex;
      align-items: center;

      > * {
        position: relative;
        display: flex;
        align-items: center;
        height: calc($headerHeight - 8px);

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    .icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: #f5f7f9;
      border-radius: 500px;
      cursor: pointer;
      user-select: none;

      svg {
        width: 20px;
        height: 20px;
      }

      &:hover {
        opacity: 1;
      }

      @include breakpoint-max(sm) {
        width: 34px;
        height: 34px;

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  &__left {
    display: flex;
    align-items: center;
    width: $sidebarWidth;
    padding: 0 0 0 20px;

    .header__icon {
      flex: 0 0 30px;
    }
  }

  &__hamburger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    user-select: none;

    span {
      display: block;
      width: 18px;
      height: 2px;
      background-color: $iconColor;

      &:nth-child(1) {
        position: absolute;
        top: 8px;
      }

      &:nth-child(3) {
        position: absolute;
        bottom: 8px;
      }
    }
  }

  &__title {
    width: calc(100% - 30px);
    padding: 0 0 0 5px;

    h1 {
      font-size: 20px;

      text-transform: uppercase;
    }
  }

  &__right {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0 20px;

    > * {
      margin: 0 7.5px;
    }

    .header__icon {
      margin-left: auto;
    }
  }

  &__account-dropdown {
    position: absolute;
    display: block !important;
    top: calc($headerHeight - 8px);
    right: 0;
    min-width: 180px;
    max-height: 0;
    background-color: $headerBackground;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.08);

    .link {
      display: flex;
      align-items: center;
      padding: 12px;
      font-size: 14px;
      font-weight: 500;
      color: $textColor;

      &:hover {
        background-color: #f5f7f9;
        color: #08102b;
      }

      > * {
        margin: 0 5px;
      }

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.off-account:checked ~ .header__account-dropdown {
  max-height: 100vh;
  opacity: 1;
  visibility: visible;
}