.products {
  @include breakpoint-min(lg) {
    .container {
      padding-left: 25px;
    }
  }

  .main__form {
    input {
      padding: 14px 46px 14px 14px;
    }
  }

  .main__table {
    &-header {
      > * {
        max-width: 16%;
        flex: 0 0 16%;
      }

      > *:first-child {
        max-width: 36%;
        flex: 0 0 36%;
      }

      > *:not(:last-child) {
        padding-left: 10px;
      }

      > *:last-child {
        text-align: center;
      }
    }

    &-item {
      > * {
        max-width: 16%;
        flex: 0 0 16%;
      }

      > *:first-child {
        max-width: 36%;
        flex: 0 0 36%;
      }

      > *:last-child {
        display: inline-flex;
        justify-content: center;
      }
    }

    &-empty {
      width: 100%;
      text-align: center;
      font-size: 14px;
      padding: 20px 0;
    }
  }

  &__detail {
    display: flex;
    align-items: center;
  }

  &__image {
    flex-shrink: 0;

    .image {
      width: 60px;
      height: 60px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      aspect-ratio: 1 / 1;
      border-radius: 2px;
      overflow: hidden;
    }
  }

  &__info {
    padding-left: 14px;
  }

  &__title {
    font-size: 15px;
    font-weight: 800;
    line-height: 1.4em;

    .title {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__description {
    font-size: 13px;
    line-height: 1.4em;
    opacity: 0.8;
    margin-top: 4px;

    .text {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__category {
    span {
      display: inline-block;
      padding: 8px 10px;
      background-color: rgba(0, 0, 0, 0.08);
      font-size: 13px;
      font-weight: 500;
      border-radius: 4px;
    }
  }

  &__price,
  &__stock {
    span {
      font-size: 15px;
      font-weight: 800;
      opacity: 0.9;
    }
  }

  &__action {
    .icon {
      display: inline-flex;
      cursor: pointer;
      user-select: none;

      &:hover {
        opacity: 1;
      }

      svg {
        width: 20px;
        height: 20px;
        fill: #dc3545;
      }
    }
  }
}
